<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>SUBHUB</h1>
            <p>All-in-One Subscription Manager</p>
        </div>
        <div class="right">
            <h2>Forgot Password</h2>
            <form method="post">
                {% csrf_token %}
                <p>Enter your email address to receive a password reset OTP.</p>
                {{ form.email.errors }}<input type="email" name="email" placeholder="Enter Email" value="{{ form.email.value|default:'' }}">
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>
