<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>SUBHUB</h1>
            <p>All-in-One Subscription Manager</p>
        </div>
        <div class="right">
            <h2>Reset Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.new_password1.errors }}<input type="password" name="new_password1" placeholder="Enter New Password">
                {{ form.new_password2.errors }}<input type="password" name="new_password2" placeholder="Confirm New Password">
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>
